
.icon-check:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-ok-circle:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cancel-circled-1:before { content: '\e805'; } /* '' */
.icon-cancel-squared:before { content: '\e806'; } /* '' */
.icon-cancel-1:before { content: '\e807'; } /* '' */
.icon-menu-1:before { content: '\e808'; } /* '' */
.icon-volume:before { content: '\e809'; } /* '' */
.icon-volume-off:before { content: '\e80a'; } /* '' */
.icon-menu-3:before { content: '\e80b'; } /* '' */
.icon-cancel-circled-2:before { content: '\e80c'; } /* '' */
.icon-cancel-circle:before { content: '\e80d'; } /* '' */
.icon-cancel-circle-1:before { content: '\e80e'; } /* '' */
.icon-cancel-2:before { content: '\e80f'; } /* '' */
.icon-cancel-3:before { content: '\e810'; } /* '' */
.icon-lightbulb:before { content: '\e811'; } /* '' */
.icon-menu-2:before { content: '\f008'; } /* '' */
.icon-cancel-circled-3:before { content: '\f06e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */