/* *********** ABOUT ME *********** */

.about {
  background-image: url("../img/ja_odb4-2.jpg");
  background-position: right;
}

.text1 {
  /* font-family: "Special Elite"; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3.7rem;
  font-weight: 900;
  letter-spacing: 5px;
  color: whitesmoke;
}
.row-text1 {
  min-height: 2.7rem;
  margin-top: 25vh;
}

.text2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  font-size: 2.7rem;
  letter-spacing: 4px;
  color: whitesmoke;
}

.row-text2 {
  min-height: 2.2rem;
}

.about-me {
  text-align: left;
}

.cont-about-me {
  padding-left: 2.6rem;
}

@media all and (max-width: 812px) {
  .text1 {
    font-size: 3.3rem;
    letter-spacing: 2px;
  }
  .text2 {
    font-size: 2.4rem;
  }
}

@media all and (max-width: 365px) {
  .text1 {
    font-size: 2.9rem;
    letter-spacing: 2px;
  }
  .text2 {
    font-size: 2.6rem;
  }
}
