.curtail {
  --block-width: 30;
  --block-height: 50;
  --scale: 1.2;
  --no-of-cols: 20;
  --no-of-rows: 15;
  --box-trans-time: 1.75;
  --box-anim-time: 1.75;

  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  z-index: 1000;
  opacity: 1;
  overflow: hidden;
  background-color: rgb(51, 55, 56);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(var(--no-of-cols), 1fr);
  grid-template-rows: repeat(var(--no-of-rows), 1fr);
  grid-template-areas: "left start right";
  transition: all calc(var(--box-trans-time) * 2.2s) ease-in;
  perspective: 1200px;
  -webkit-perspective: 1200px;
  transform-style: preserve-3d;
}

.brick-box {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all calc(var(--box-trans-time) * 1s) ease-in;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.boxAnim {
  animation: anim1A calc(var(--box-anim-time) * 1s) ease-in forwards;
}

@keyframes anim1A {
  0% {
    opacity: 0;
    transform: scale(0) translateY(500px);
  }

  50% {
    opacity: 1;
    background-image: url("../img/signs3code2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
    background-image: url("../img/signs3code2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
